.App {
  text-align: center;
}
.nav-bar{
  background-color:cadetblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-item{
  margin-right: 50px;
  margin-top: auto;
  margin-bottom: auto;
}
.title{
  background-color: antiquewhite;
  margin-top: 0px;
  padding: 20px;
}
.title-name{
  font-size: 30px;
  margin-bottom: 20px;
}
.title-slogan{
  font-size: 15px;
}
.question-card{
  width: 70%;
  border: 1px solid green;
  height: 400px;
  margin: auto;
  padding: 30px;
  position: relative;
  font-size: large;
}
.question-description{
  position: absolute;
  top:80px;
  left:5%;
  right:5%;
  text-align: left;
}
.choices{
  display: flex;
  flex-direction: column;
}
.choices{
  margin-top: 20px;
  margin-left: 20%;
}
.single-choice{
  margin-bottom: 10px;
}
.choice-label{
  margin-left: 20px;
}
.submit{
  background-color:aquamarine;
  width: 100px;
  text-align: center;
  margin: auto;
  font-size: larger;
  cursor: pointer;
  display:block
}
.result{
  text-align: center;
}